h1 {
    font-family: 'Anek Latin', serif;
    font-size: 36px;
    color: #e8712c;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
}

p {
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.interesse {
    padding-top: 0em;
}

body {
    margin: 0;
}



p {
    font-family: 'Noto Sans', serif;
}

header img {
    max-width: 100%;
    padding: none;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 2em;
    width: 100%;
}

.noto-sans {
    font-family: 'Noto Sans', serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}




main h2 {
    font-family: 'Anek Latin', serif;
    font-size: 36px;
    text-align: center;
    color: #e8712c;
}

main img {
    display:grid;

    max-width: 50%;
}

.vacatures-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;

}

.vacatures-wrapper h3 {
    align-items: center;
    padding: 1em;
    font-family: 'Noto Sans', serif;
    font-size: 24px;
}

.vacatures-wrapper h4 {
    font-family: 'Noto Sans', serif;
    font-size: 16px;
}

article li {
    text-decoration: none;

}

article a {
    text-decoration: none;
    color: #e8712c;
}

.lijstvacatures {
    padding-left: 1em;
    padding-right: 1em;
}

.btn {
    border: none;
    outline: none;
    padding: 8px 16px;
    background-color: #e6e6e6;
    cursor: pointer;
    border-radius: 0.5em;
    margin: 0.3em;
    background-color: #666;
    color: white;
}

.btn:hover {
    background-color: #3e3e3e;
}

.info {
    display: none;
    transition: ease 2s;
}


.show-info {
    display: block;
}


.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
}




article {
    align-items: center;
    justify-content: center;
    background-color: #cecece;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    margin: 2em;
    min-height: 15em;

}

article h3 {
    text-align: center;
    padding-left: none;
}

article h4 {
    padding-left: 3em;
}

.druppelfotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: #e8712c;
}

@media (min-width: 900px ) {


    .vacatures-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    
    }

    h1 {
        font-size: 48px;
    }

    main h2 {
        font-size: 48px;
    }

    p {
        padding-left: 10em;
        padding-right: 10em;
    }

}