body {
    margin: 0;
}

h1 {
    font-family: 'Anek Latin', serif;
    font-size: 9vw;
    color: #e8712c;
    text-align: center;
    margin-top: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.5em;
    @media (min-width: 900px) {
            
        }
}

p {
    font-family: 'Noto Sans', serif;
    font-size: 16px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    @media (min-width: 900px) {
        }
}


.interesse {
    padding-top: 0em;
}

header img {
    max-width: 100%;
    padding: none;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 2em;
    width: 100%;
}

.noto-sans {
    font-family: 'Noto Sans', serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

main h2 {
    margin-top: 1em;
    font-family: 'Anek Latin', serif;
    font-size: 9vw;
    text-align: center;
    color: #e8712c;
    img {
        display:grid;
        max-width: 50%;
    }
    @media (min-width: 900px) {
        
        }
}

.vacatures-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    h3 {
        align-items: center;
        padding: 1em;
        font-family: 'Noto Sans', serif;
        font-size: 24px;
    }
    h4 {
        font-family: 'Noto Sans', serif;
        font-size: 16px;
    }
    @media (min-width: 900px) {
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
            margin-left: 3em;
            margin-right: 3em;
        }
}

.lijst-vacatures {
    padding-left: 1em;
    padding-right: 1em;
}

.button-container {
    display: flex;
    justify-content: right;
}

.btn {
    border: none;
    outline: none;
    padding: 8px 12px;
    background-color: #e6e6e6;
    cursor: pointer;
    border-radius: 0.4em;
    margin: 0.3em;
    margin-right: 2em;
    background-color: #e8712c;
    color: white;
    font-size: 16px;
    @media (min-width: 900px) {
        margin-right: 5em;
    }
}

.btn:hover {
    background-color: #b65100;
}

.info.show-info {
    display: none;
}

.info {
    display: block;
    transition: all 0.3s ease-in-out;
}


article {
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    margin: 2em;
    min-height: 15em;
    box-shadow: 0px 0px 20px rgba(112, 39, 0, 0.493);
    h3 {
        text-align: center;
        padding-left: none;
    }
    h4 {
        padding-left: 3em;
    }
    a {
        text-decoration: none;
        color: #e8712c;
    }
    li {
        text-decoration: none;
    
    }
    
}

.druppel-fotos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #e8712c;
}